<table id="Table_view1">
    <tr>
        <th>Employee Id</th>
        <th><input type="text" data-ng-model="EId"></th>
    </tr>
    <tr>
        <th>First Name:</th>
        <th><input type="text" ng-model="fName"></th>
    </tr>
    <tr>
        <th>Middle Name:</th>
        <th><input type="text" data-ng-model="mName"></th>
    </tr>
    <tr>
        <th>Last Name</th>
        <th><input type="text" data-ng-model="lName"></th>
    </tr>
    <tr>
        <th>Birth Date:</th>
        <th><input type="text" data-ng-model="Bdate"></th>
    </tr>
    <tr>
        <th>Birth Month:</th>
        <th><input type="text" data-ng-model="Bmonth"></th>
    </tr>
    <tr>
        <th>Birth Year:</th>
        <th><input type="text" data-ng-model="Byear"></th>
    </tr>


</table>

<div id="Save1">
    <a href="#!Tab"><input type="button" ng-click="Save1()" value="Save"></a>
</div>